.text-highlight {
  color: #e76f51;
}
.cbr-blue {
  color: #23a6f0;
}
.gray-image {
  filter: grayscale(100%);
}
.btn-cbr {
  background-color: #e76f51;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  color: white;
  cursor: pointer;
}
.btn-cbr:hover {
  background-color: #ca583b;
}
/* footer menu */
ul li {
  list-style: none;
  display: inline;
}
li a {
  text-decoration: none;
  color: white;
  margin-right: 2rem;
}
li a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #e76f51;
}
